            body{
                margin: 0px;
                font-family: sans-serif;
                letter-spacing: 1px;
                word-spacing: 1.5px;
                font-size: 1.2rem;
                background-color: lavender;
            }

            table th , table td{
                border : 1px solid black;
                padding: 18px;
            }
        
            tr:nth-child(2n+1){
                background-color: indianred;
            }

            tr:nth-child(2n){
                background-color: gray;
            }
            tr:hover{
                box-shadow: 5px 5px khaki;
            }


            form{
                border: 2px dashed black;
                border-radius: 10px;
                margin: 10px;
                padding: 10px;
            }
            form input{
                padding: 2px;
            }

            #heading{
                position: relative;
                left: 32%;
                margin-top: 50px;
                color: gray;
            }

            #contact-list{
                position: fixed;
                right: 10px;
                top:10px;
                overflow: scroll;
                height: 100%;
            }

            #new-form{
                display: inline-block;
                position: relative;
                left: 30%;
                padding: 10px;
                width: 30%;
            }

            #new-form input{
                display: block;
                margin: 20px;
                font-size: 1.2rem;
                padding: 8px;
                width: 80%;
                border: none;
                border-radius: 10px;
            }

            #new-form button{
                margin: 10px;
                position: relative;
                left: 30%;
                font-size: 1.2rem;
                padding: 4px;
                background-color: grey;
                border: none;
                border-radius: 5px;
                box-shadow: 5px 5px lightgray;
            }

            #delete{
                background:transparent;
                height:100%;
                width: 100%;
                border: none;
                text-decoration: none;
                color: black;
            }